$base-color: #cf4041;
$base-dark: #a61c1d;
$grey: #e5eae6;
$white: #fff;
$blue: #387dab;
$orange: #f0ad4e;
$back-light: #e5eae6;

$dark-text: #000;
$light-text: #fff;

$back-dark: #303030;

$base-dark-color: black;
